footer 
{
  background-color: gray;
  bottom: 0;

  width: 100%;
  height: 0px;
  text-align: center;
  color: black;
  text-anchor: middle;
  
}
.navbar
{
    background-color:lightgray
    height: 10%;

}

.jumbotron {
    background-color:white !important; 
}

.breadcrumb {
    background-color:whitesmoke !important; 

}

body, html {
    height: 100%;
}
.bg { 
 
    background-color:gainsboro;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}                    

button{
    background-color: white;
}

tbody{
    text-align: center;
    border: 0px;
}

thead{
    text-align: center; 
}

h2{
    text-align: center;
}
